@use '../../../assets/styles/variables' as *;
@use "sass:map";
@use 'sass:color';

// =========================
//       SUMMARY PAGE
// =========================

// ===== Text styles =====
.change-text:hover {
  color: map.get($purple-palette, 600);
}

.total-price {
  font-size: 20px;
}

// ===== Layout =====
.summary-details {
  display: flex;
  flex-direction: column;
  gap: $spacing-400;
}

// ===== Plan section =====
.plan-details {
  display: flex;
  padding: $spacing-200;
  border-radius: 8px;
  background-color: map.get($blue-palette, 50);
}

.plan-item {
  display: flex;
  flex-direction: column;
  gap: $spacing-200;
  width: 100%;
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-info {
  display: flex;
  flex-direction: column;
  gap: $spacing-100;
}

// ===== Divider =====
hr {
  color: $grey;
  opacity: 20.43%;
}

// ===== Add-ons section =====
.addon-item {
  display: flex;
  justify-content: space-between;
}

// ===== Total section =====
.total-container {
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-300;
}

@media only screen and (max-width: 600px) {
  .total-price {
    font-size: 16px;
  }

  .summary-details {
    gap: $spacing-300;
  }

  .plan-info {
    gap: 0;
  }
}
