<div class="component-container">
  <div class="title-container">
    <h1
      [ngClass]="{'text-1': !screen.isMobile(), 'text-2': screen.isMobile(), 'primary': true}">{{ text['summary.title'] }}</h1>
    <h2 class="text-3 r secondary">{{ text['summary.description'] }}</h2>
  </div>
  <div class="summary-details">
    <div class="plan-details">
      <div class="plan-item">
        <div class="plan-header">
          <div class="plan-info">
            <span [ngClass]="{'text-3': !screen.isMobile(), 'text-4': screen.isMobile(), 'm': true, 'primary': true}">{{ plan.name }} ({{ isYearly ? text['label.yearly'] : text['label.monthly'] }})</span>
            <a [routerLink]="'../plan'" class="text-4 r secondary change-text">{{ text['summary.change'] }}</a>
          </div>
          <span [ngClass]="{'text-3': !screen.isMobile(), 'text-4': screen.isMobile(), 'b': true, 'primary': true}">${{ isYearly ? plan.price_y : plan.price_m }}{{ isYearly ? text['price.year'] : text['price.month'] }}</span>
        </div>
        <hr/>
        <div *ngFor="let addon of addons" class="addon-item">
          <span class="text-4 r secondary">{{ addon.label }}</span>
          <span class="text-4 r primary">+${{ isYearly ? addon.price_y : addon.price_m }}{{ isYearly ? text['price.year'] : text['price.month'] }}</span>
        </div>
      </div>
    </div>
    <div class="total-container">
      <span class="text-4 r secondary">{{ text['summary.total'] }} ({{ isYearly ? text['summary.per.year'] : text['summary.per.month'] }})</span>
      <span class="b total-price info">+${{ totalPrice }}{{ isYearly ? text['price.year'] : text['price.month'] }}</span>
    </div>
  </div>
</div>
