@use '../../../assets/styles/variables' as *;
@use "sass:map";
@use 'sass:color';

// =========================
//    CONFIRMATION PAGE
// =========================

// ===== Layout =====
.confirmation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-400;
}

// ===== Text section =====
.confirmation-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-200;
}

p {
  text-align: center;
}

// ===== Icon =====
img {
  width: 80px;
  height: 80px;
}

@media only screen and (max-width: 600px) {
  .component-container {
    padding: $spacing-1000 $spacing-300;
  }

  .confirmation-container {
    gap: $spacing-300;
  }

  .confirmation-text-container {
    gap: $spacing-100;
  }

  img {
    width: 56px;
    height: 56px;
  }
}
