<footer *ngIf="text && page !== PageEnum.THANK_YOU">
  <div [ngClass]="{
    'footer-container': true,
    'info': page === PageEnum.INFO
  }" class="footer-container">
    <button *ngIf="page !== PageEnum.INFO" [routerLink]="pages[page - 1]" severity="contrast" class="back text-3 m" pButton>
      <span pButtonLabel>{{ text['footer.back'] }}</span>
    </button>
    <button *ngIf="page !== PageEnum.SUMMARY" [disabled]="!stepValidationService.isStepValid(pages[page])" [ngClass]="{
    'next': true,
    'm': true,
    'text-4': screenWidth <= 600,
    'text-3': screenWidth > 600}" [routerLink]="pages[page + 1]"
            severity="primary" pButton>
      <span pButtonLabel class="contrast-primary">{{ text['footer.next'] }}</span>
    </button>
    <button *ngIf="page === PageEnum.SUMMARY" [ngClass]="{
      'next': true,
      'm': true,
      'text-4': screenWidth < 600,
      'text-3': screenWidth >= 600}" pButton
            severity="secondary" routerLink="thank-you">
      <span pButtonLabel class="contrast-primary">{{ text['footer.confirm'] }}</span>
    </button>
  </div>
</footer>
