<footer *ngIf="texts && page !== PageEnum.THANK_YOU">
  <div class="footer-container" [ngClass]="{
    'footer-container': true,
    'info': page === PageEnum.INFO
  }">
    <button *ngIf="page !== PageEnum.INFO" [routerLink]="pages[page - 1]" class="back text-3 m" pButton><span
      pButtonLabel>{{ texts['label.back'] }}</span></button>
    <button *ngIf="page !== PageEnum.SUMMARY" [ngClass]="{
    'next': true,
    'm': true,
    'text-4': screenWidth <= 600,
    'text-3': screenWidth > 600}" [routerLink]="pages[page + 1]"
            pButton>
      <span pButtonLabel>{{ texts['label.next'] }}</span>
    </button>
    <button *ngIf="page === PageEnum.SUMMARY" [ngClass]="{
      'next': true,
      'm': true,
      'text-4': screenWidth < 600,
      'text-3': screenWidth >= 600}" pButton
            routerLink="thank-you">
      <span pButtonLabel>{{ texts['label.confirm'] }}</span>
    </button>
  </div>
</footer>
