@use '../../../assets/styles/variables' as *;
@use "sass:map";
@use 'sass:color';

footer {
  display: flex;
  align-items: start;
  width: 100%;
  height: 96px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  justify-content: end;
}

.next, .confirm {
  border-radius: 8px;
  padding: $spacing-200 $spacing-300;
  width: 123px;
}

@media only screen and (max-width: 992px) {
  footer {
    height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    padding: $spacing-200;
    background-color: $white;
    height: fit-content;
  }

  .next, .confirm {
    border-radius: 4px;
    width: 97px;
    padding: 10px $spacing-200;
  }
}
