@use '../../../assets/styles/variables' as *;
@use "sass:map";
@use 'sass:color';

header {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 274px;
  height: 600px;
  padding: $spacing-200;
}

.content-container {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: $spacing-500 $spacing-400;
  background-image: url("../../../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-400;
}

li {
  display: flex;
  flex-direction: row;
  column-gap: $spacing-200;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  border: 1px solid $white;
  border-radius: 999px;
}

.number-container.selected {
  background-color: map.get($blue-palette, 200);
  border: none;
}

.text-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  header {
    height: initial;
    width: initial;
    padding: 0;
  }
  .content-container {
    background: none;
    justify-content: center;
  }

  ul {
    flex-direction: row;
    column-gap: $spacing-200;
  }
}
