@use '../../../assets/styles/variables' as *;
@use "sass:map";
@use 'sass:color';

// =========================
//   SELECT PLAN COMPONENT
// =========================

// ===== Layout =====
.plan-option-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-400;
}

// ===== Plans list =====
.plans-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

// ===== Plan card =====
.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 138px;
  height: 160px;
  padding: $spacing-200;
  border: 1px solid map.get($purple-palette, 200);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;

  // Hover state
  &:hover {
    border-color: map.get($purple-palette, 600);
  }

  // Selected state
  &.selected {
    border-color: map.get($purple-palette, 600);
    background-color: map.get($blue-palette, 50);
  }

  img {
    width: 40px;
    height: 40px;
  }
}

// ===== Plan details inside card =====
.plan-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.plan-option-details {
  display: flex;
  flex-direction: column;
  gap: $spacing-100;
}

.plan-option-text {
  display: flex;
  flex-direction: column;
}

// ===== Billing cycle switch section =====
.billing-cycle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  background: map.get($blue-palette, 50);
}

.billing-cycle-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacing-300;
}
