<div class="component-container">
  <div class="title-container">
    <h1 class="text-1">{{ text['info.title'] }}</h1>
    <h2 class="text-3 r">{{ text['info.description'] }}</h2>
  </div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <div class="label-container">
          <label class="text-4 r" for="name">{{ text['info.name.title'] }}</label>
          <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-4 b error">
            {{ text['info.error'] }}
          </span>
        </div>
        <input
          [ngClass]="{ 'invalid': form.get('name')?.invalid && form.get('name')?.touched, 'text-3': true, 'm': true }"
          [placeholder]="text['info.name.example']" formControlName="name" id="name" pInputText type="text"/>
      </div>
      <div class="form-group">
        <div class="label-container">
          <label class="text-4 r" for="email">{{ text['info.email.title'] }}</label>
          <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-4 b error">
            {{ text['info.error'] }}
          </span>
        </div>
        <input
          [ngClass]="{ 'invalid': form.get('email')?.invalid && form.get('email')?.touched, 'text-3': true, 'm': true }"
          [placeholder]="text['info.email.example']" formControlName="email" id="email" pInputText
          type="email"/>
      </div>
      <div class="form-group">
        <div class="label-container">
          <label class="text-4 r" for="phone">{{ text['info.phone.title'] }}</label>
          <span *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-4 b error">
            {{ text['info.error'] }}
          </span>
        </div>
        <p-inputmask
          [ngClass]="{ 'invalid': form.get('phone')?.invalid && form.get('phone')?.touched, 'text-3': true, 'm': true }"
          [placeholder]="text['info.phone.example']"
          formControlName="phone" id="phone"
          mask="+9 999 999 999"/>
      </div>
    </form>
  </div>
</div>
