@use '../../../assets/styles/variables' as *;
@use "sass:map";
@use 'sass:color';

// =========================
//        CONTAINERS
// =========================

.title-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-100;
}

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-100;
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1, label {
  color: map.get($blue-palette, 950);
}

h2 {
  color: $grey;
}

.error {
  color: map.get($red-palette, 500);
}
