@use '../../../assets/styles/variables' as *;
@use "sass:map";
@use 'sass:color';

// =========================
//        CONTAINERS
// =========================

form {
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-100;
}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  form {
    gap: $spacing-200;
  }
}
