@use './assets/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: $black;
  font-weight: $regular;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// =========================
//        TYPOGRAPHY
// =========================

/* FONT SIZE */

.text-1 {
  font-size: 32px;
}

.text-2 {
  font-size: 24px;
}

.text-3 {
  font-size: 16px;
}

.text-4 {
  font-size: 14px;
}

.text-5 {
  font-size: 12px;
}

/* FONT WEIGHT */

.text-1, .text-2, .b  {
  font-weight: $bold;
}

.m {
  font-weight: $medium;
}

/* LINE HEIGHT */

.text-1, .text-2, .b, .text-3.m, text-4, text-5 {
  line-height: 120%;
}

text-3.r, text-4.m {
  line-height: 150%;
}
