@use "./assets/styles/variables" as *;
@use "sass:map";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: $black;
  font-weight: $regular;

  // =========================
  //     PRIMENG OVERRIDES
  // =========================
  .p-inputtext {
    height: 48px;
    width: 100%;
  }

  .p-inputtext.invalid, .invalid .p-inputtext {
    border-color: map.get($red-palette, 500);
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// =========================
//        TYPOGRAPHY
// =========================

/* FONT SIZE */

.text-1 {
  font-size: 32px;
}

.text-2 {
  font-size: 24px;
}

.text-3 {
  font-size: 16px;
}

.text-4 {
  font-size: 14px;
}

.text-5 {
  font-size: 12px;
}

/* FONT WEIGHT */

h1, h2, h3, h4, h5, h6 {
  font-weight: $regular;
}

.text-1, .text-2, .b {
  font-weight: $bold;
}

.m {
  font-weight: $medium;
}

/* LINE HEIGHT */

.text-1, .text-2, .b, .text-3.m, .text-4, .text-5 {
  line-height: 120%;
}

.text-3.r, .text-4.m {
  line-height: 150%;
}

.text-4.b {
  letter-spacing: 1px;
}

/* COLORS */

.primary {
  color: map.get($blue-palette, 950);
}

.secondary {
  color: $grey;
}

.contrast-primary {
  color: $white;
}

.contrast-secondary {
  color: map.get($blue-palette, 300);
}

.info {
  color: map.get($purple-palette, 600);
}

.error {
  color: map.get($red-palette, 500);
}

// =========================
//        CONTAINERS
// =========================

.component-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-500;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-100;
}
