@use './assets/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubuntu", sans-serif !important;
  color: $black;
  font-weight: $regular;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// =========================
//        TYPOGRAPHY
// =========================

/* FONT SIZE */

.text-1 {
  font-size: 32px !important;
}

.text-2 {
  font-size: 24px !important;
}

.text-3 {
  font-size: 16px !important;
}

.text-4 {
  font-size: 14px !important;
}

.text-5 {
  font-size: 12px !important;
}

/* FONT WEIGHT */

.text-1, .text-2, .b  {
  font-weight: $bold !important;
}

.m {
  font-weight: $medium !important;
}

/* LINE HEIGHT */

.text-1, .text-2, .b, .text-3.m, .text-4, .text-5 {
  line-height: 120% !important;
}

.text-3.r, .text-4.m {
  line-height: 150% !important;
}

.text-4.b {
  letter-spacing: 1px !important;
}
